body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.daily-forecast {
  border: 2px solid black;
  display: flex;
}
.main {
  background-color: yellow;
  flex-direction: column;
}
.result {
  background-color: white;
  
}
.forecast {
  flex-direction: row;
}
